a {
	margin-right: 10px;
	height: fit-content;
	width: fit-content;
}

header {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

p {
	color: white;
}

.App {
	height: 100%;
	width: 100%;
}
