.weather {
	height: 250px;
	width: 60%;
	display: flex;
	flex-direction: row;
	align-items: start;
	padding-left: 20px;
	padding-top: 20px;
	background-color: transparent;
	color: white;
	border: 1px solid grey;
	margin: auto;
	margin-bottom: 15px;
}
.city-input {
	height: 80%;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	padding: 10px;
	justify-content: space-evenly;
	background-color: transparent;
	color: white;
}

.weather-info {
	display: flex;
	height: 100%;
	width: 80%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.weather-info img {
	height: 85px;
	width: 85px;
}
