.Month {
	height: 99%;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	overflow: auto;
}

.month-title {
	color: white;
}

.month-control-button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 35px;
	font-weight: bold;
}

.month-control-button:hover {
	cursor: pointer;
	color: grey;
}

.week {
	display: flex;
	height: 16.66%;
	width: 100%;
}

.MiniDay {
	border: 1px solid white;
	height: 100%;
	width: 14%;
	overflow: hidden;
}

.MiniDay .ellipses-p {
	margin: 0 0 20px 20px;
	font-size: 35px;
}
.MiniDay.prev {
	background-color: gray;
}

.MiniDay.next {
	background-color: gray;
}

.MiniDay.today {
	background-color: #535bf2;
}

.mini-day-header {
	width: fit-content;
	padding-right: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mini-day-header p {
	font-size: 15px;
}

.mini-button {
	background-color: transparent;
}

.MiniEvent {
	width: 90%;
	background: lightblue;
	border-radius: 5px;
	margin-left: 4px;
}

.MiniEvent p {
	color: black;
	margin-left: 8px;
}
