/* Header.module.css */
.header {
	position: relative;
	top: 0;
	width: 100%;
	height: fit-content-10px;
	background: beige;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loggedOutUser {
	display: flex;
	top: 0;
	width: 15%;
	padding: 5px;
	padding-right: 5%;
	height: fit-content;
	width: fit-content;
}

.loggedInUser {
	display: flex;
	color: black;
	top: 0;
	width: 15%;
	padding: 5px;
	padding-right: 5%;
	height: fit-content;
	width: fit-content;
}

.username {
	color: black;
}
