/* Header.module.css */
.header {
	position: relative;
	display: flex;
	flex-direction: row;
	top: 0;
	width: 100%;
	height: fit-content-10px;
	background: beige;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titleContainer{
	position: top;
	display: flex;
	flex-direction: row;
	top: 0;
	width: fit-content;
	height: fit-content;
}

.title {
	padding-left: 5%;
	display: flex;
	top: 0;
	width: fit-content;
	height: fit-content;
	justify-content: space-between;
	font-size: medium;
	position: center;
}
.loggedOutUser {
	display: flex;
	top: 0;
	width: 15%;
	padding: 5px;
	padding-right: 5%;
	height: fit-content;
	width: fit-content;
	font-size: small;
}

.loggedInUser {
	display: flex;
	color: black;
	top: 0;
	padding: 5px;
	padding-right: 5%;
	height: fit-content;
	width: 50%;
	justify-content: space-between;
}

.username {
	color: black;
	position: relative;
}

.clockTime{
	color: black;
	align-items: top; 
}

.button{
	font-size: small;
	height: 50%;
	margin-top: 1%;
}

.searchbar{
	color: aqua;
	margin-top: 1%;
}