.day {
	height: 100%;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
}

.day-container {
	padding: 0 10px 0 10px;
}

.day-weekday {
	text-align: center;
}

.day-header {
	display: flex;
	justify-content: space-between;
	width: 25%;
	align-items: center;
	color: white;
}

.hour {
	display: flex;
}

.event {
	background-color: lightblue;
	color: black;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	height: fit-content;
}

.event-top {
	margin-top: -10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delete-event {
	height: fit-content;
	width: fit-content;
	background-color: transparent;
	border: none;
	color: #525252;
	font-weight: bold;
}

.delete-event:hover {
	border: none;
	color: black;
}

.event > .event-name {
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	margin: 0;
}

.event > .event-duration {
	margin: 0 0 0 5px;
	color: black;
}
/*-------------------------------Modal-------------------------------*/
.Modal {
	background-color: beige;
	width: 20%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid black;
	border-radius: 10px;
}

.modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	height: 100%;
}

.day-control-button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 35px;
	font-weight: bold;
}

.modal-header button {
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal-header #new-event-name {
	height: 40px;
	width: 30%;
	font-size: 20px;
	background-color: beige;
	border: 0;
	border-radius: 0;
	border-bottom: 2px black solid;
}

.modal-button {
	background-color: lightblue;
	color: black;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	margin: 4px;
	height: fit-content;
	width: fit-content;
	border: 1px solid transparent;
}

.Modal label {
	font-size: 18px;
}

.Modal input,
textarea {
	outline: none;
	border: 1px solid #b2b283;
	border-radius: 3px;
	font-size: 16px;
}
.Modal textarea {
	resize: none;
}

.modal-controls {
	display: flex;
	flex-direction: column;
	margin: 20px 10px;
	width: 100%;
	height: 20%;
	align-items: flex-start;
}

.modal-control {
	display: flex;
	justify-content: space-between; /* Distributes items evenly along the main axis */
	align-items: center; /* Aligns items vertically in the center */
	width: 90%;
	margin: 5px;
}

.Modal button:hover {
	cursor: pointer;
	border: 1px solid black;
	background-color: #9dd8e7;
}


.description-button{
	background-color: transparent;
	border: none;
	font-size: 10px;
	color: black;
}

.description-button:hover{
	cursor: pointer;
	color: blue;
}

.description-button:focus{
	outline: none;
}

.event-description{
	color: black;
}
