.day {
	height: 100%;
	overflow: auto;
	margin-left: 10px;
}
.modal-button {
	background-color: lightblue;
	border: none;
	color: black;
	font-size: 20px;
	padding: 10px;
	cursor: pointer;
	height: fit-content;
	width: fit-content;
}
.modal-controls {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 10px;
	padding: 40px;
	border: 3px solid black;
	width: 80%;
	height: 40%;
}
.modal-control {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: 60%;
}

.day-weekday{
	text-align: center;
}

.day-header{
	display: flex;
	justify-content: space-between;
	width: 25%;
	align-items: center;
}

