.Venue {
	display: flex;
	flex-direction: row;
}

.location-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;
}

.venue-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 60%;
	width: 40%;
	border: 3px solid grey;
}
